# Data Dictionary

###  BX-Books
 isbn: Unique numeric book identifier
 
 book_title: Name of the book
 
 book_author: Author of the book
 
 year_of_publication: Year published
 
 publisher: Publishing Authority
 

### BX-Users
 user_id: Unique id of the user who submitted review
 
 location: location of user
 
 age: Age of the user
 

### BX-Book-Ratings
 user_id: Unique id of the user who submitted review
 
 isbn: Unique numeric book identifier
 
 rating: book rating as per user with {user_id}

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action="ignore",category=FutureWarning)
warnings.simplefilter(action="ignore",category=UserWarning)

In [2]:
book=pd.read_csv("~/Downloads/BX-Books.csv",error_bad_lines=False,encoding="latin-1")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1396\1922860659.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book=pd.read_csv("~/Downloads/BX-Books.csv",error_bad_lines=False,encoding="latin-1")

In [3]:
book.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [4]:
book.rename(columns={'book_title':'title','book_author':"author",'year_of_publication':'year','publisher':'publisher','isbn':"ISBN"},inplace=True)

In [5]:
book.head()

,ISBN,title,author,year,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [6]:
users=pd.read_csv("~/Downloads/BX-Users.csv",error_bad_lines=False,encoding="latin-1")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1396\3443919969.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  users=pd.read_csv("~/Downloads/BX-Users.csv",error_bad_lines=False,encoding="latin-1")

In [7]:
users.head(2)

  user_id                   Location   Age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [8]:
users.rename(columns={'Location':'location','Age':'age'},inplace=True)

In [9]:
users.head(2)

  user_id                   location   age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [10]:
ratings=pd.read_csv("~/Downloads/BX-Book-Ratings.csv",error_bad_lines=False,encoding="latin-1")

In [11]:
ratings.head(2)

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5

In [12]:
ratings.rename(columns={"isbn":"ISBN"},inplace=True)

In [13]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726   155061224       5

In [14]:
users.shape

(278859, 3)

In [15]:
book.shape

(271379, 5)

In [16]:
ratings.shape

(1048575, 3)

In [17]:
x=ratings['user_id'].value_counts()>180

In [18]:
x[x].shape

(916,)

In [19]:
y=x[x].index

In [20]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            154346, 179730,  54828,  59189,  27788, 161037,  56554, 114216,
             48046,  67547],
           dtype='int64', length=916)

In [21]:
ratings=ratings[ratings['user_id'].isin(y)]

In [22]:
ratings.shape

(501942, 3)

In [23]:
bk=ratings.merge(book,on="ISBN")

In [24]:
bk.head(2)

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [25]:
bk.shape

(464732, 7)

In [26]:
number_rating=bk.groupby('title')['rating'].count().reset_index()

In [27]:
number_rating.rename(columns={'rating':'number_of_ratings'},inplace=True)

In [28]:
df=bk.merge(number_rating,on='title')

In [29]:
df.shape

(464732, 8)

In [30]:
df=df[df['number_of_ratings']>=50]
df.head()

,user_id,ISBN,rating,title,author,year,publisher,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74

In [31]:
df.shape

(56050, 8)

In [32]:
df.drop_duplicates(['user_id','title'],inplace=True)

In [33]:
df.shape

(54195, 8)

In [34]:
book_pivot=df.pivot_table(columns='user_id',index='title',values='rating')

In [35]:
book_pivot

user_id,254,2033,2276,2766,2977,3363,3757,4017,4385,6242,...,249862,249894,250184,250405,250764,277427,277478,277639,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
book_pivot.fillna(0,inplace=True)

In [37]:
book_pivot

user_id,254,2033,2276,2766,2977,3363,3757,4017,4385,6242,...,249862,249894,250184,250405,250764,277427,277478,277639,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [39]:
book_sparse

<680x904 sparse matrix of type '<class 'numpy.float64'>'
	with 13839 stored elements in Compressed Sparse Row format>

In [40]:
from sklearn.neighbors import NearestNeighbors as NN
model=NN(algorithm='brute')

In [41]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [42]:
dist,suggestn=model.kneighbors(book_pivot.iloc[212,:].values.reshape(1,-1),n_neighbors=6)

In [43]:
dist

array([[ 0.        , 65.26867549, 65.55150647, 74.03377608, 76.67463727,
        77.14920609]])

In [44]:
suggestn

array([[212, 213, 215, 216, 217, 617]], dtype=int64)

In [45]:
for i in range(len(suggestn)):
    print(book_pivot.index[suggestn[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))',
       'The Witness'],
      dtype='object', name='title')

In [46]:
np.where(book_pivot.index=="Harry Potter and the Chamber of Secrets (Book 2)")

(array([212], dtype=int64),)

In [47]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    dist,suggestn=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestn)):
        print(book_pivot.index[suggestn[i]])

In [48]:
recommend_book("Harry Potter and the Goblet of Fire (Book 4)")

Index(['Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'The Cradle Will Fall'],
      dtype='object', name='title')